:root {
   
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-main: #5c6bc0;
    --color-dark-main: #26418f;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

   
    --weight-bold: 500;
    --weight-semi-bold: 400;
    --weight-regular: 300;

  
    --size-border-radius: 4px;

   
    --animation-duration: 300ms;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif; 
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-dark-grey); /*transparent*/ 
    color: var(--color-white);
    align-items: center;
    padding: 16px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
}

#navbar.navbar--dark {
    background-color: var(--color-main);
    padding: 8px;
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-white);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid white;
}

.navbar__menu__item:hover {
    background-color: var(--color-dark-main);
    border-color: var(--color-white);
}

.navbar__toggle-btn {
    position: absolute;
    right: 32px;
    top: 24px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

#home {
    padding: 40px;
    background: url("https://s3.amazonaws.com/thinkific-import-development/292401/homebackground-200515-154505.png") center/cover no-repeat;
    text-align: center;
    padding-top: 120px;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

.home__contact:hover {
    background-color: var(--color-main);
}

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170px;
    margin: auto;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
    color: var(--color-dark-main);
    transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major_description {
    color: var(--color-dark-grey);
}

.major_description {
    font-size: var(--font-small);
}

.job {
    display: flex;
    align-items: center;
}

.job__logo {
    width: 40px;
}

.job__description {
    margin: 0 16px;
    text-align: left;
}

.job__name,
.job__period {
    color: var(--color-light-grey);
}

.job__name {
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);
}

#skills {
    background-color: var(--color-yellow);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white);
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skill {
    margin-bottom: 32px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value {
    height: 3px;
    background-color: var(--color-orange);
}

.skillset__right {
    flex-basis: 40%;
}

.tools {
    background-color: var(--color-grey);
}

.tools,
.etc {
    padding: 20px;
}
